<ion-header>
  <ion-toolbar>
    
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/nota">
      <ion-label>Instalações elétricas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>SPDA</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Pc de luz</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Placas fotovoltaicas</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desenvolvimento web</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Teste Termográfico</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
