<ion-header>
  <ion-toolbar color="dark">
    
    <ion-title color="light">Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bgImg">
    <ion-list class="bgImg"><br>
      <ion-button routerLink="/nota" color="dark" shape="round">
        <ion-label>Instalações elétricas</ion-label>
      </ion-button><br>
      <ion-button routerLink="/nota" color="secondary" shape="round"> 
        <ion-label>SPDA</ion-label>
      </ion-button><br>
      <ion-button routerLink="/nota" color="dark" shape="round">
        <ion-label> Pc de luz</ion-label>
      </ion-button><br>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Placas fotovoltaicas</ion-label>
      </ion-button><br>
      <ion-button routerLink="/nota" color="dark" shape="round">
        <ion-label>Desenvolvimento web</ion-label>
      </ion-button><br>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Teste Termográfico</ion-label>
      </ion-button>
    </ion-list>
    
  </ion-content>