<ion-header>
  <ion-toolbar>
    
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-button routerLink="/nota" color="dark" shape="round">
        <ion-label>Instalações elétricas</ion-label>
      </ion-button>
      <ion-button  > 
        <ion-label>SPDA</ion-label>
      </ion-button>
      <ion-button >
        <ion-label> Pc de luz</ion-label>
      </ion-button>
      <ion-button >
        <ion-label>Placas fotovoltaicas</ion-label>
      </ion-button>
      <ion-button >
        <ion-label>Desenvolvimento web</ion-label>
      </ion-button>
      <ion-button >
        <ion-label>Teste Termográfico</ion-label>
      </ion-button>
    </ion-list>
    
  </ion-content>