<ion-header>
  <ion-toolbar>
    <ion-title>
      Aplicativo Hidros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
  
      <ion-fab vertical="bottom" horizontal="start" edge slot="fixed">
          <ion-fab-button>
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="end">
          
          </ion-fab-list>
        </ion-fab>
    Carta de serviço
    
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  
</ion-content>
