<ion-header>
  
  <ion-toolbar>
    Seja bem vindo a
    <ion-title>
      Hidros Consultoria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="ion-padding">
    Escolha seu Serviço:
      </div>
  <ion-list>
      <ion-item routerLink="/eng"> 
        <ion-button color="dark" href="right"> <h5> Engenharia Elétrica </h5>
        </ion-button> <p>
      
      </ion-item>
      <ion-item routerLink="/engci">
        <ion-button color="dark" href="right"> <h5> Enhenharia Civil </h5> 
        </ion-button> <p>
      </ion-item>
      <ion-item routerLink="/engpro">
        <ion-button color="dark" href="right"> <h5> Enhenharia de Produção </h5> 
        </ion-button> <p>
      </ion-item>
      <ion-item routerLink="/engmec">
        <ion-button color="dark" href="right"> <h5> Enhenharia Mecânica </h5> 
        </ion-button> <p>
      </ion-item>
      <ion-item routerLink="/engamb">
        <ion-button color="dark" href="right"> <h5> Enhenharia Ambiental </h5> 
        </ion-button> <p>
      </ion-item>
    </ion-list>
</ion-content>
