page-home{
    .bg-image {
        background-image: url("../../app/home/img/img.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
.bgImg {
    background-image: url('../../app/home/img/img.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    }
    body  {
        background-color: #000;
      }