page-home{
    .bg-image {
        background-image: url(https://www.colorhexa.com/f9f06f.png);
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
    }
}
.bgImg {
    background-image: url('https://www.colorhexa.com/f9f06f.png');
    background-repeat: no-repeat;
    background-size:cover;
    }
    body  {
        background-color: #F9F06F;
      }