<ion-header>
  <ion-toolbar color="secondary">
    <ion-title color="primary">
      <h3>SERVIÇOS</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content color="tertiaryy" class="bgImg">
    <ion-list class="bgImg"><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Análise de Mercado</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Plano de Marketing</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Plano de Negócios</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Plano Operacional</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Estudo de Layout</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">Estudo de Viabilidade Economica</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="dark">
        <ion-label color="primary">+</ion-label>
      </ion-button><br>
      
    </ion-list>
  </ion-content>