<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item routerLink="/nota">
        <ion-label>Análise de Mercado</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Plano de Marketing</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Plano de Negócios</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Plano Operacional</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Estudo de Layout</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>EVE</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>