<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-button routerLink="/notaanal" color="secondary" shape="round">
        <ion-label>Análise de Mercado</ion-label>
      </ion-button>
      <ion-button routerLink="/notamkt" color="secondary" shape="round">
        <ion-label>Plano de Marketing</ion-label>
      </ion-button >
      <ion-button routerLink="/notaneg" color="secondary" shape="round">
        <ion-label>Plano de Negócios</ion-label>
      </ion-button>
      <ion-button routerLink="/notaop" color="secondary" shape="round">
        <ion-label>Plano Operacional</ion-label>
      </ion-button>
      <ion-button routerLink="/notalayout" color="secondary" shape="round">
        <ion-label>Estudo de Layout</ion-label>
      </ion-button>
      <ion-button routerLink="/notaeve" color="secondary" shape="round">
        <ion-label>EVE</ion-label>
      </ion-button>
      
      
    </ion-list>
  </ion-content>