<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-button routerLink="/notaclima" color="secondary" shape="round">
        <ion-label>Projeto de Climatização</ion-label>
      </ion-button>
      <ion-button routerLink="/notaprod" color="secondary" shape="round">
        <ion-label>Desenvolvimento de Produto</ion-label>
      </ion-button>
      <ion-button routerLink="/notamanu" color="secondary" shape="round">
        <ion-label>Plano de Manutenção</ion-label>
      </ion-button>
      <ion-button routerLink="/notaexaus" color="secondary" shape="round">
        <ion-label>Projeto de Exaustão</ion-label>
      </ion-button>
      <ion-button routerLink="/notamat" color="secondary" shape="round">
        <ion-label>Caracterização de Materiais</ion-label>
      </ion-button>
      <ion-button routerLink="/notaseg" color="secondary" shape="round">
        <ion-label>Segurança do Trabalho (NR – 12)</ion-label>
      </ion-button>
      <ion-button routerLink="/notamec" color="secondary" shape="round">
        <ion-label>Desenho Mecânico</ion-label>
      </ion-button>
      
    </ion-list>
  </ion-content>
  