<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="primary">
        <h3>SERVIÇOS</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="tertiaryy" class="bgImg">
    <ion-list class="bgImg"><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Projeto de Climatização</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Desenvolvimento de Produto</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Plano de Manutenção</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Projeto de Exaustão</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Caracterização de Materiais</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Segurança do Trabalho (NR – 12)</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Desenho Mecânico</ion-label>
      </ion-button><br>
      
    </ion-list>
  </ion-content>
  