<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item routerLink="/nota">
        <ion-label>Projeto de Climatização</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Desenvolvimento de Produto</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Plano de Manutenção</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Projeto de Exaustão</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Caracterização de Materiais</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Segurança do Trabalho (NR – 12)</ion-label>
      </ion-item>
      <ion-item routerLink="/nota">
        <ion-label>Desenho Mecânico</ion-label>
      </ion-item>
      
    </ion-list>
  </ion-content>
  