<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Cálculo Estrutural</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Legalização</ion-label>
    </ion-item>
    <ion-item>
      <ion-label> Parecer Técnico</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Arquitetônico</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Licenciamento</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Autovistoria Predial</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Reforma</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Combate a Incêndio</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
