<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Cálculo Estrutural</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Legalização</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label> Parecer Técnico</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Arquitetônico</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Licenciamento</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Autovistoria Predial</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Reforma</ion-label>
      </ion-button>
      <ion-button routerLink="/nota" color="secondary" shape="round">
        <ion-label>Combate a Incêndio</ion-label>
      </ion-button>
    </ion-list>
  </ion-content>