<ion-header>
  
    <ion-toolbar color="secondary">
      <ion-title color="primary">
        SERVIÇOS DE ELÉTRICA
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content color="tertiary" padding>
 
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-item color="dark">
          <ion-input color="primary" placeholder="Serviço" [(ngModel)]="ServicoName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="dark">
          <ion-input color="primary" placeholder="Descrição" [(ngModel)]="ServicoAge"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="dark">
          <ion-input color="primary" placeholder="Briefing" [(ngModel)]="ServicoAddress"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item color="dark">
          <ion-input color="primary" placeholder="Entregáveis" [(ngModel)]="ServicoName2"></ion-input>
        </ion-item>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button color="dark" (click)="CreateRecord()" [disabled]="!ServicoName || !ServicoAge || !ServicoAddress || !ServicoName2">
          <ion-icon color="primary" size="small" slot="icon-only" name="add"></ion-icon>
          <ion-label color="primary">&nbsp;Adicionar Serviço</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 
 
  <ion-card color="primary" *ngFor="let item of Servicos" click="serviços(item)"rounterlink="/nota" class="item">
    <span *ngIf="!item.isEdit; else elseBlock">
      <ion-card-header>
        <ion-card-title>{{item.Name}}</ion-card-title>
        <ion-card-subtitle>{{item.Age}}</ion-card-subtitle>
        <ion-card-subtitle>Briefing:{{item.Address}}</ion-card-subtitle>
        <ion-card-subtitle>Entregáveis:{{item.Name2}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
 
        <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
          <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
 
        </ion-button>
        <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
          <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
 
        </ion-button>
      </ion-card-content>
    </span>
    <ng-template #elseBlock>
      <ion-card-header>
        <ion-card-title>
          <ion-grid>
            <ion-row>
              <ion-col>
                Editar
              </ion-col>
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  <ion-label color="light">  Cancelar</ion-label>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Atualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item color="dark">
          <ion-label color="primary"><strong>Serviço</strong></ion-label>
          <ion-input color="primary" type="text" [(ngModel)]="item.EditName"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label color="primary"><strong>Descrição</strong></ion-label>
          <ion-input color="primary" type="text" [(ngModel)]="item.EditAge"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label color="primary"><strong>Briefing</strong></ion-label>
          <ion-input color="primary" type="text" [(ngModel)]="item.EditAddress"></ion-input>
        </ion-item>
        <ion-item color="dark">
          <ion-label color="primary"><strong>Entregáveis</strong></ion-label>
          <ion-input color="primary" type="text" [(ngModel)]="item.EditName2"></ion-input>
        </ion-item>
      </ion-card-content>
    </ng-template>
  </ion-card>
 
</ion-content>