<ion-header>
    <ion-toolbar color="secondary">
      <ion-title color="primary">
        <h3>SERVIÇOS</h3>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content color="tertiaryy" class="bgImg">
    <ion-list class="bgImg"><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Hidrossanitário</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Análise de água</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">PGRS</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Reaproveitamento de Água</ion-label>
      </ion-button><br>
      <ion-icon name="play" color="tertiary"></ion-icon>
      <ion-button routerLink="/nota" color="secondary">
        <ion-label color="primary">Licenciamento Ambiental</ion-label>
      </ion-button><br>
      
      
    </ion-list>
  </ion-content>