<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Hidrossanitário</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Análise de água</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>PGRS</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Reaproveitamento de Água</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Licenciamento Ambiental</ion-label>
    </ion-item>
    
    
  </ion-list>
</ion-content>
